@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');




* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}


.cleaner {
    clear: both;
}

#header {
    width: 100%;
    height: 120px;
    display: flex;
    border-bottom: 3px solid #c2c2c2;
    background-color: #fff;
    
}

#logo {
    margin: 10px ;
    width: 150px;
    height: 100px;
    
    
}
#slikaLogo{
    width: 150px;
     transition:  0.5s ease;
}
#slikaLogo:hover{
    transform: scale(1.1);
}

#navigacija {
   
    margin: 0px auto;
    display: flex;
    align-items: center;
    
    
}
#navigacija ul{
    list-style-type:none;
    display: flex;
   
    
}
#navigacija ul li{
    display: inline;
    margin:0px 10px;
   transition:  0.5s ease;
}
#navigacija ul li:hover{
    display: inline;
    margin:0px 10px;
   transform:scale(1.1) ;
}
 
#navigacija ul li a{
    text-decoration: none;
    font-size: 25px;
    color:#535252;
    font-weight: bold;
    margin: 0px 10px;
    transition:  0.5s ease;
}

#navigacija ul li a:hover {
    color: #c2c2c2;
    
}

#pretraga{
    margin:10px 0px;
    transition:  0.5s ease;
}
#pretraga:hover{
    transform:scale(1.05) ;
}
#pretrazi{
    padding: 10px 5px;
    width: 200px;
    margin-top: 30px;
   border-radius: 12px;
    border: 1px solid #000;
    font-weight: bold;
}

.fa-solid.fa-magnifying-glass{
    font-size: 22px;
    position: relative;
    left:-40px;
    top:3px;
} 
#main{
    width: 100%;
    height: 100%;

}
#prozivodWrapper{
    width: 100%;
}
#gornji{
    
    width: 100%;
    height: 1000px;
    background-image: url("../img/snegpozadina2.jpg");
    background-repeat: no-repeat;
    position: relative;
   
}
#naslov{
    margin-left: 150px;
}
#ispodGlavnog{
    margin-left: 150px;
    font-style: italic;
    
}

h1{
    
    font-size: 70px;
    font-weight: 100;
    color:#fff;
    text-shadow: 0 4px 10px rgba(0,0,0,0.7); 
    font-style: italic;
}
#proizvod{
    float: left;
    padding: 25px 25px 15px 25px;
    width: 350px;
    height: 650px;
    border-radius: 12px;
    margin-top: 50px;
    margin-left: 150px;
    border: 2px solid #c2c2c2;
    background-color: rgba(202, 201, 201, 0.2);
}
#slikaProizvod{
    border: 1px solid #c2c2c2;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    background-color: #000;
    margin-bottom: 10px;
}
.naslovProizvoda{
    color: #fff;
    font-weight: 400;
    text-shadow: 0 4px 10px rgba(0,0,0,0.7); 
}
#product-details{
    margin-top: 15px;

}
#product-details p{
    font-weight: 400;
}
#product-details p#stara{
    text-decoration:line-through ;
}
#dugme{
float: right;
margin-top: 20px;

}
#taster{
    background-color: #c2c2c2;
    border-radius: 20px;
    border: 2px solid #f2f2f2;
    padding: 7px 30px;
    cursor: pointer;
    /*transition: transform 0.3s ease;*/
    transition:  0.5s ease;
    box-shadow: 0.5s ease;
}
#taster:hover {
    transform: scale(1.1);
      box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}
#proizvodOpis{
    padding: 25px;
    margin-top: 50px;
   margin-right: 200px;
    float: right;
    width: 600px;
    height: 300px;
   border: 2px solid #c2c2c2;
   border-radius: 20px;
   font-size: 24px;
   background-color: rgba(202, 201, 201, 0.2);
   font-weight: 500;
  
}
#proizvodOpis p{
    margin-top: 20px;
    
}
#naslovDonjeg{
    width: 100%;
    height: 50px;
    margin:100px 0px ;
    text-align: center;
}
body{
    background-color: #d4d2d2;
}
#naslovDonjeg h2{
    font-size: 70px;
    font-weight: 400;
   
}
#donji{
 
    display: flex;
    width: 100%;
    height: 400px;
  
    margin-top: 150px;
    margin-bottom: 100px;
  
    
}
.slika-wrapper{
    position: relative;
    height: 400px;
    
    
}

.slika-wrapper img{
     margin:0px 17px;
    width: 600px;

}
.naslovSlikaDonjeg{
    position: absolute;
    left:25px;
    top: 40px;
    
}
.naslovSlikaDonjeg h3{
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    color: #2b2b2b;
    letter-spacing: 0.5px;
    line-height: 1.2;
    text-shadow: 0 2px 4px rgba(256, 256, 256, 0.5);
}

.slika-wrapper{
    transition: 1s ease;
}
.slika-wrapper:hover{
    transform: scale(1.05);
}
.naslovSlikaDonjeg a {
    text-decoration: none;
}

footer{
  
    width: 100%;
    height: 200px;
   
   
}
#gornjiFooter{
  
    padding: 0px 0px 0px 200px;
    display: flex;
    height: 200px;
    border-top: 3px solid #c2c2c2;
    margin: 0px auto;
    background-color: #fff;
}
#logoFooter{
    width: 300px;
    height: 150px;
    float: left;
    
    margin-top: 25px;
    margin-right: 100px;
    
}
#logoFooter a img{
    width: 200px;
    float: right;
    transition: 0.5s ease;
   
}
#logoFooter a img:hover{
    transform: scale(1.1);
}
.footerLinks{
    padding: 25px;
    width: 200px;
    height: 150px;
    float: left;
    margin-left: 50px;
}

#donjiFooter{
    width: 100%;
    height: 50px;
    border-top: 1px solid #000;
    background-color: #fff;
}
.footerLinks h3{
    font-weight: 600;

}
.footerLinks ul{
    list-style-type: none;
   margin-top: 10px;
}
.footerLinks ul li{
    margin: 7px 10px;
    transition: 0.5s ease;
}
.footerLinks ul li:hover{
    transform: scale(1.05);
}
.footerLinks ul li a{
    text-decoration: none;
    color: #535252;
    font-weight: 600;
    transition: 0.5s ease;

}
.footerLinks ul li a:hover{
    
    color:#c2c2c2;
}
#donjiFooter p{
    text-align: center;
    margin-top: 15px;
}
.linksIzmena{
     padding: 25px;
    width: 300px;
    height: 150px;
    float: left;
    margin-left: 50px;
}
#wrapperOAutoru{
    width: 1000px;
   
    margin: 0px auto;
    padding: 50px;
}
#infoOAutoru{
    width: 100%;
    height: 500px;
    border: 2px solid #2b2b2b;
    margin-top: 50px;
    background-color: #fff;
}
#wrapperOAutoru h1{
   
    font-size: 50px;
    text-align: center;

}
#oMeni{
    padding: 50px 25px;
    width: 450px;
    height:400px ;
     border-right: 2px solid #2b2b2b;
    float: left;
}
#slikaAutora{
    padding: 50px 25px ;
    height: 400px;
    margin-left: 70px;
    float: left;
     
}
#oMeni h2{
    margin-bottom: 25px;
}
#oMeni p{
    margin-bottom: 25px;
}
#oMeni a{
 
   color:#000;
   padding:  10px 20px;
   border: 1px solid #2b2b2b;
   border-radius: 30px;
   text-decoration: none;
}

#okvirKontakt{
    width: 100%;
    margin: 50px 0px 100px;
    
}
#okvirKontakt h1{
    text-align: center;
    font-size: 50px;
}
#contactWrapper{
    background-color: #fff;
    margin: 50px auto;
    display: flex;
    width: 1500px;
    height: 550px;
    border: 2px solid #000;
    padding: 25px;
}
#info{
    width:500px;
    height: 550px;
}
#info h2{
    text-align: center;
    margin-bottom:50px ;
}
#contactInfo{
    margin-top: 15px;
}
#contactInfo h3{
    margin-top: 3px;

}
#contactInfo h3 a {
    margin-top: 3px;
    
    color: #2b2b2b;
}
#lokacija{
    margin-top: 10px;
    width: 500px;
    height: 260px;
border: 2px solid black;
    
}
#lokacija iframe{
    width: 500px;
    height: 260px;
}
#ocene-kupaca{
    width:950px ;
    height: 550px;
    
    margin-left: 50px;
    border-left: 2px solid #535252;
}
#ocene-kupaca h2{
    text-align: center;
}
#formKontakt{
    width: 500px;
    height: 400px;
    margin-top:50px ;
}
.formKontaktInput{
    padding: 0px 5px;
    width: 400px;
    height: 35px;
    margin-left: 270px;
    margin-bottom: 35px;
    border:2px solid #2b2b2b; 
    border-radius: 15px;
 
}
#velikiText{
    width: 380px;
    margin-left: 270px;
    height: 130px;
    padding: 10px;
    border:2px solid #2b2b2b; 
    border-radius: 15px;
}
#tasterPotvrde{
    width: 100px;
    height: 35px;
    margin-left: 270px;
    margin-top:20px;
    border:2px solid #2b2b2b; 
    border-radius: 15px;
    transition: 0.5s ease;
}
#tasterPotvrde:hover{
    transform: scale(1.1);
    background-color: #2b2b2b;
}
.dizajnRegiona{
    width: 90%;
    height: 500px;

    margin: 100px auto;
    

}
.dizajnRegiona h2{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
   
}
#galerijaNaslov{
    text-align: center;
   padding:50px 0px;
}
.slikeWrapper{
    
display: flex;


}
.slikaParfemaGalerija{
    margin:50px 75px 0px;
    height: 400px;
    width: 400px;
    border-radius: 50px;
    border: 1px solid #000;
    
}
#galerijaWrapper{
    background-image: url("../img/pozadinaGalerije.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
}
#wrapperOAutoru {
  animation: slideInBottom 2s ease-in-out forwards;
}

@keyframes slideInBottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
